<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="productattribute" frontName="productattribute">
            <module name="Mageplaza_ProductAttrbute6" />
        </route>
    </router>
</config>