<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
 <type name="Ambab\PriceScheduler\Ui\DataProvider\Category\ListingDataProvider">
   <plugin name="ambab_pricescheduler_attributes" type="Ambab\PriceScheduler\Plugin\AddAttributesToUiDataProvider"/>
 </type>
 <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
  <arguments>
   <argument name="collections" xsi:type="array">
     <item name="ambab_pricescheduler_category_listing_data_source" xsi:type="string">AmbabPriceSchedulerCategoryCollection</item>
   </argument>
  </arguments>
 </type>
 <virtualType name="AmbabPriceSchedulerCategoryCollection" type="Ambab\PriceScheduler\Ui\DataProvider\Category\Listing\Collection">
   <arguments>
     <argument name="mainTable" xsi:type="string">product_price_scheduler</argument>
     <argument name="resourceModel" xsi:type="string">Ambab\PriceScheduler\Model\ResourceModel\Category</argument>
   </arguments>
 </virtualType>
</config>
