<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="categoryattr" frontName="categoryattr">
            <module name="Mageplaza_CategoryAttribute9" />
        </route>
    </router>
</config>