<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="vblt" id="vblt">
            <module name="Mageplaza_ViewBlockLayoutTemplate"/>
        </route>
    </router>
</config>