<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Practice\ProxieCli\Controller\Page\PC">
        <arguments>
            <argument name="heavyservice" xsi:type="object">Practice\ProxieCli\Model\HeavyService\Proxy</argument>
        </arguments>
    </type>
</config>